<mat-form-field appearance="fill" class="product-form">
    <mat-label>Name</mat-label>
    <input matInput #txtName>
  </mat-form-field>

  <mat-form-field appearance="fill" class="product-form">
    <mat-label>Stock</mat-label>
    <input matInput #txtStock type="number" min="0" value="0">
  </mat-form-field>

  <mat-form-field appearance="fill" class="product-form">
    <mat-label>Price</mat-label>
    <input matInput #txtPrice type="number" min="0" value="0">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="create(txtName,txtStock,txtPrice)" class="product-createbutton">Create Product</button>

<hr>

<app-file-upload [options]="fileUploadOptions"> </app-file-upload>
